
{% extends "admin/change_form.html" %}

{% block object-tools %}
    {% if not is_popup %}
        <ul class="object-tools">
            {% for item in object_tools %}
                {% if item.label != "History" %}
                    <li>
                        <a href="{{ item.url }}" class="historylink">{% if item.icon %}{{ item.icon|safe }} {% endif %}{{ item.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
